<?xml version="1.0" encoding="UTF-8"?>
<web-app id="GPI_TEMPLATE_APP" version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>OSDE Framework 2 - Template aplicaciones </display-name>
	<!-- PARAMETROS GENERALES Y LISTENER DE ARRANQUE -->
	<context-param>
		<description>Spring config file locations</description>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:spring/application-root-spring.xml,${jboss.server.config.url}/osde-framework-*-integracion-saludsoft-spring.xml</param-value>
	</context-param>
	<listener>
		<listener-class id="framework-spring-context-listener">
			org.springframework.web.context.ContextLoaderListener 
		</listener-class>
	</listener>
	
	<filter>
		<filter-name>struts-prepare</filter-name>
		<filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareFilter</filter-class>
		<init-param>
			<param-name>actionPackages</param-name>
			<param-value>ar.com.osde.integracionsaludsoft.web.struts</param-value>
		</init-param>
	</filter>
	<filter>
		<filter-name>struts-execute</filter-name>
		<filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsExecuteFilter</filter-class>
	</filter>
	
	<filter-mapping>
		<filter-name>struts-prepare</filter-name>
		<url-pattern>/context/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>struts-execute</filter-name>
		<url-pattern>/context/*</url-pattern>
	</filter-mapping>
 		
 	<servlet>
		<servlet-name>CXFServlet</servlet-name>
        <servlet-class>
            org.apache.cxf.transport.servlet.CXFServlet
        </servlet-class>
	</servlet>
	
	<servlet-mapping>
        <servlet-name>CXFServlet</servlet-name>
        <url-pattern>/webservices/*</url-pattern>
    </servlet-mapping>
</web-app>